.hourlyBox {
    background: hsl(243, 23%, 24%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    height: 530px;       
}

.apphourBox {
    background-color: hsl(243, 27%, 20%);
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    padding: 20px;
    margin-left: 20px;
}