.hourlyBox {
    background: hsl(243, 23%, 24%);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    height: 480px;
    margin-top: 20px;
};