.currentBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/bg-today-large.svg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 20px 50px 10px 50px;
    max-width: 100%;
    height: 200px;    
    margin-bottom: 25px;
}

.placeTemp {
    display: flex;
}

.placeName {
    font-size: 2.5rem;
    font-weight: bold;
}

.currentIcon {
    font-size: 5rem;  

}

.currentTemp {
    font-size: 8rem;
    margin: 0;
    padding: 0;
}
