@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-Variable.ttf")
       format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
       format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "DM Sans", system-ui, sans-serif;
}

p {
  font-family: "Bricolage Grotesque", system-ui, sans-serif;
}

