@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-Variable.ttf") format("truetype");
  font-weight: 100 900;   /* full variable range */
  font-stretch: 75% 125%; /* for wdth axis */
  font-style: normal;
}

/* DM Sans - normal */

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

h1 {
  font-family: "DM Sans", system-ui, sans-serif;
  /* font-family: "Bricolage Grotesque", system-ui, sans-serif; */
}

p {
  /* font-family: "DM Sans", system-ui, sans-serif; */
  font-family: "Bricolage Grotesque", system-ui, sans-serif;
}

