body {
  margin: 20px;
  background-color: hsl(243, 96%, 9%);
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-bottom: 200px;
}

h1, p {
    color: white;
}

.currentTemp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.dailyTemp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20PX;
}