@media (min-width: 601px) and (max-width: 1040px){
  /* tablets */
    
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .currentTemp {
        flex-wrap: wrap;
    }

}