
.tempBox {
    background-color: hsl(243, 27%, 20%);
    border-radius: 15px;
    max-width: 250px;
    width: 100%;
    height: auto;  
}

.tempTitle {
    margin: 15px 0 0 15px;
    font-size: 1.5rem;
    padding: 0;
}

.tempNumber {
    margin: 0 0 15px 15px;
    font-size: 1.5rem;
    padding: 0;
}